<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="listeners.TestListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/TriveniWorkSpace-doNotTouch/SeleniumAdvancedFramework/src/test/java/Tests/ActionsMethods.java">
        <classes>
            <class name="Tests.ActionsMethods"><methods><include name="actionPerform"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="D:/TriveniWorkSpace-doNotTouch/SeleniumAdvancedFramework/src/test/java/Tests/CalenderHandle.java">
    <classes/>
</test>
    <test verbose="2" preserve-order="true" name="D:/TriveniWorkSpace-doNotTouch/SeleniumAdvancedFramework/src/test/java/Tests/EndToEndTest.java">
        <classes/>
    </test>
    <test verbose="2" preserve-order="true" name="D:/TriveniWorkSpace-doNotTouch/SeleniumAdvancedFramework/src/test/java/Tests/ExcelDataread.java">
        <classes/></test>
    <test verbose="2" preserve-order="true" name="D:/TriveniWorkSpace-doNotTouch/SeleniumAdvancedFramework/src/test/java/Tests/FileUploadDownload.java">
        <classes>
            <class name="Tests.FileUploadDownload"><methods><include name="uploadFile"/></methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="D:/TriveniWorkSpace-doNotTouch/SeleniumAdvancedFramework/src/test/java/Tests/FindAllLinks.java">
        <classes/>
    </test>
    <test verbose="2" preserve-order="true" name="D:/TriveniWorkSpace-doNotTouch/SeleniumAdvancedFramework/src/test/java/Tests/handleTableData.java">
        <classes>
            <class name="Tests.handleTableData"><methods><include name="getDate"/></methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="D:/TriveniWorkSpace-doNotTouch/SeleniumAdvancedFramework/src/test/java/Tests/IteratorList.java">
        <classes>
            <class name="Tests.IteratorList"><methods><include name="getListLinks"/></methods>
            </class></classes></test></suite>